<!DOCTYPE html>
<html ng-app>
<head>
<title>Turner - Artist search app</title>

	<script src="src/angular.min.js"></script>
	<script src="search.js"></script>
</head>

<body>

	<div data-ng-controller="SearchCtrl">
	<form class="well form-search">
		<label>Search:</label>
		
		<input type="text" data-ng-model="keywords" class="" placeholder="Keywords..." data-ng-change="keyword_change()" >
		<button type="submit" class="" data-ng-click="search()">Search</button>
		
    </form>
	<!--<pre ng-model="result">-->

Artist list
		<ul>
		  <li data-ng-repeat="x in result">
			<a href="" data-ng-click="chk_album(x)" id="{{x.id}}">{{ x.name }}<img src="{{x.images.0.url}}" height=100 width=100/></a>
			<a href="" data-ng-click="add_artist(x)" id="{{x.id}}">Add to favourite<a/>
		  </li>
		</ul>

Album list
		<ul>
		  <li data-ng-repeat="x in albums">
			<a href="" data-ng-click="chk_track(x)" id="{{x.id}}">{{ x.name }}<img src="{{x.images.0.url}}" height=100 width=100/></a>
		  </li>
		</ul>
Track list
		<ul>
		  <li data-ng-repeat="x in tracks">
			<a href="" data-ng-click="chk_track(x)" id="{{x.id}}">{{ x.name }}<img src="{{x.images.0.url}}" height=100 width=100/></a>
		  </li>
		</ul>

   </div>

   <div data-ng-controller="favouriteCtrl">
	
   </div>
</body>

</html> 